/* ==========================================================
   RESPONSIVE
========================================================== */

@media(max-width:1200px){

.hero-content{

width:92%;

}

}

@media(max-width:768px){

h1{

font-size:3rem;

}

#animated-subtitle{

font-size:.95rem;

gap:10px;

}

#qfr-logo{

width:160px;

}

#explore-button{

padding:16px 34px;

}

}

@media(max-width:500px){

h1{

font-size:2.3rem;

}

.hero-content{

width:95%;

}

#animated-subtitle{

flex-direction:column;

gap:5px;

}

}
